<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>122969094355-d4fk7e1p0rvh1rdb3916pi9fuj51h3sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122969094355-d4fk7e1p0rvh1rdb3916pi9fuj51h3sn</string>
	<key>API_KEY</key>
	<string>AIzaSyCRlVSEg7EZVRy3sBhqe6fIrq87_zIecsI</string>
	<key>GCM_SENDER_ID</key>
	<string>122969094355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thenewthirty.FirebaseSocial</string>
	<key>PROJECT_ID</key>
	<string>testbedproject-bb7a5</string>
	<key>STORAGE_BUCKET</key>
	<string>testbedproject-bb7a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:122969094355:ios:80fb9c92ef0b8785</string>
	<key>DATABASE_URL</key>
	<string>https://testbedproject-bb7a5.firebaseio.com</string>
</dict>
</plist>